@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --main-color: #1a71bd;
  --secondary-color: #ffdc00;
  --accent-color-1: #ffffff;

  /* fonts */
  --font-headers: Goldman, sans-serif;
  --font-text: DM Sans, sans-serif;
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--accent-color-1);
}
